In [2]:
d1={'name':'jack','age':26}
d1['age']=27
d1

{'name': 'jack', 'age': 27}

In [3]:
d1['address']='downtown'
d1

{'name': 'jack', 'age': 27, 'address': 'downtown'}

In [4]:
sq={1:1,2:4,3:9,4:16,5:25}
print(sq.pop(4))
print(sq)
print(sq.popitem())
sq

16
{1: 1, 2: 4, 3: 9, 5: 25}
(5, 25)

{1: 1, 2: 4, 3: 9}

In [5]:
sq.clear()

In [6]:
sq

{}

In [7]:
clear(sq)

In [8]:
sq={1:1,2:4,3:9,4:16,5:25}
sq1=sq.copy()

In [9]:
sq1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [10]:
del sq

In [11]:
sq

NameError: name 'sq' is not defined

In [12]:
sq={1:1,2:4,3:9,4:16,5:25}
len(sq)

5

In [13]:
sorted(sq)

[1, 2, 3, 4, 5]

In [14]:

sq={1:1,2:4,3:9,8:16,5:25}
sorted(sq)

[1, 2, 3, 5, 8]

create a dic

In [16]:
keys={'a','e','i','o','u'}
value=[1]
v=dict.fromkeys(keys,value)

In [17]:
v

{'a': [1], 'u': [1], 'e': [1], 'o': [1], 'i': [1]}

get-- to get a value

In [21]:
print(sq.get (2))

4

In [20]:
marks={'phy':67,'maths':89}
print(marks.get ('phy'))

67

to print both key and val

In [22]:
print(marks.items())

dict_items([('phy', 67), ('maths', 89)])

{}

print keys and values

In [35]:
sq={1:1,2:4,3:9,4:16,5:25}
print(sq.keys())
print(sq.values())

dict_keys([1, 2, 3, 4, 5])
dict_values([1, 4, 9, 16, 25])

delete a item

In [36]:
del[sq[2]]
sq

{1: 1, 3: 9, 4: 16, 5: 25}

all() returns true if all the element given are iterable true

In [40]:
l=[1,3,4,5]
print( all(1) )

TypeError: 'int' object is not iterable

In [47]:

greet= 'hi hello weolcome'
greet

'hi hello weolcome'

In [48]:
greet.upper()

'HI HELLO WEOLCOME'

In [55]:
greet.center(50)

'                hi hello weolcome                 '

In [59]:
greet.endswith('f')

False

In [60]:
greet.isdecimal()

False

In [61]:
greet.find('hello')

3

In [62]:
greet.find('a')

-1